@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.wrapper {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


.search-input {
  border: 3px solid black;
  font-size: 22px;
  height: 54px;
}

.search-button {
  font-size: 22px;
  margin-left: 20px;
  height: 54px;

}

.img-gallery {
  /* -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px; */
}

.image {
  width: 100%;
  margin-bottom: 20px;
  height: 600px;
  object-fit: cover;
}

.page-button {
  width: 150px;
  font-size: 22px;
  padding: 10px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}